<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="ui segment fluid container">
                {% block admin_content_fluid_segment %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</div>